@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  margin: 40px;
  font-family: "Special Elite";
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

h1 {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

nav {
  width: 100%;
}

nav > ul > li {
  flex-grow: 1;
}

nav > ul > li > a {
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

img {
  width: 100%;
}

main {
  padding: 40px 0;
}

#display {
  max-width: 700px;
  margin: auto;
  line-height: 2;
}

#display h2 {
  display: flex;
  justify-content: space-between;
}

#close-display-button {
  height: fit-content;
  border: 0;
  background: none;
  font-size: 30px;
  cursor: pointer;
}
